= form_for(@holiday) do |f|
  - if @holiday.errors.any?
    #error_explanation
      %h2
        = pluralize(@holiday.errors.count, "error")
        prohibited this holiday from being saved:
      %ul
        - @holiday.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .actions
    = f.submit