:javascript
  $(function(){
    $(".dropdown-toggle").dropdown();

    $("#date-changer").datepicker({ 
      dateFormat: "yy-mm-dd",
      showButtonPanel: true,
      closeText: "Cancel",
      showAnim: "",
      onSelect: function(date_string){
        window.location = "?date=" + date_string;
      }
    });
  });

  function changeLessonStatus(lesson_id, status, link){
    $.ajax({
      url: "/lessons/" + lesson_id + "/cancel.json?id=" + lesson_id + "&status=" + status,
    }).done(function(response){
      if(response.status == "1"){
        alert("Class Updated");
        window.location.reload();
      }else{
        alert("Could not update lesson.");
      }
    });
  }

  function subLesson(lesson_id, teacher_id, link){
    $.ajax({
      url: "/lessons/" + lesson_id + "/sub.json?id=" + lesson_id + "&teacher_id=" + teacher_id,
    }).done(function(response){
      if(response.status == "1"){
        alert(response.msg);
        window.location.reload();
      }else{
        alert("Could not update lesson.");
      }
    });
  }

  function deleteLesson(lesson_id){
    if(confirm("NOTE: Only delete a lesson if it was entered incorrectly.")){
      $.ajax({
        url: "/lessons/" + lesson_id + ".json",
        type: "DELETE"
      }).done(function(response){
        if(response.status == "1"){
          alert(response.msg);
          window.location.reload();
        }else{
          alert("Could not delete lesson.");
        }
      });
    }
  }

  function printSchedule(){
    html2canvas($("#print_area"), {
      onrendered: function(canvas) {
        var img = canvas.toDataURL("image/png");
        window.open(img);
      }
    });
  }

  function sendWeeklyScheduleMail(teacher_id){
    html2canvas($("#print_area"), {
      onrendered: function(canvas) {
        var img_url = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
        $.ajax({
          url: "/teachers/" + teacher_id + "/send_weekly_schedule_mail.json?img_url=" + img_url,
          type: "POST"
        }).done(function(response){
          alert(response.msg);
        });
      }
    });
  }

  function highlightToggle(lesson_cell){
    $("#lesson_cell_" + lesson_cell).toggleClass("highlight");
  }

.navbar{:style => "margin-bottom: 0;"}
  .navbar-inner
    %form.navbar-form.pull-left
      = link_to "<<", weekly_url(:id => @teacher, :date => @date.prev_week), {:class => "btn"}
      %input#date-changer.input-small.search-query{:type => "text", :style => "text-align: center;", :value => "#{@date.strftime("%F")}"}
      = link_to ">>", weekly_url(:id => @teacher, :date => @date.next_week), {:class => "btn"}
    %ul.nav
      %li.divider-vertical
      %button.btn{:type => "button", :onclick => "printSchedule()"} 
        %i.icon-print
        Print
#print_area
  %table{:style => "width: 100%;"}
    %tr
      %td
        %h2= @teacher.name
      %td{:style => "text-align: right;"} 
        %h4= Time.now.strftime("Updated: %Y/%m/%d %H:%M")
  %table{:style => "width: 866px; float: right;"}
    %tr
      - (9..20).each do |h|
        %td{:style => "width: 72px;"}
          = h
          \:00
  %br
  %table{:style => "width: 100%; margin-left: auto; margin-right: auto; border: 1px solid black;"}
    - @lessons.each do |day_name, daily_lessons|
      %tr{:style => "border-bottom: 1px solid black;"}
        %td{:style => "border-right: 1px solid black; text-align: center; height: 94px;"}= day_name
        %td{:style => "width: 864px; padding: 0px;"}
          %div{:style => "position: relative; width: 100%; height: 96px;"}
            - (1..11).each do |h|
              %div{:style => "position: absolute; height: 96px; width: 1px; left: #{72 * h}px; background-color: grey;"}
            - @off_times[day_name].each do |o|
              - left = o.start_5minutes * 6
              - if left < 0 then left = 0 end
              - width = (o.length / 5 * 6)
              %div{:class => "off_time_cell weekly", :style => "width: #{width}px; left: #{left}px; text-align: center;"}
            - daily_lessons.each do |l|
              - left = l.start_5minutes * 6
              - if left < 0 then left = 0 end
              - width = (l.length / 5 * 6) - 6
              %div{:class => "lesson_cell weekly dropdown status#{l.status.to_s}", :style => "width: #{width}px; left: #{left}px; text-align: center;", :id => "lesson_cell_#{l.id}"}
                - if l.length >= 50 then
                  %p{:style => "font-size: 10px; margin-bottom: 0;"} #{l.start_time.strftime("%H:%M")} ~ #{l.finish_time.strftime("%H:%M")}
                  %p{:style => "position: absolute; top: 70px; font-size: 10px; width: #{width}px;"}= l.name
                - else
                  %p{:style => "width: 10px; margin-left: #{(width / 2) - 5}px;"}
                    - l.name.each_char do |c|
                      = c
