:javascript
  $(function(){
    $("td.day").not('.otherMonth').click(function(){
      var checked = $(this).children(".day_checkbox").prop("checked");
      if(checked == true){
        $(this).children(".day_checkbox").prop("checked", false);
        $(this).css("background-color", "#FFFFFF");
      }else if(checked == false){
        $(this).children(".day_checkbox").prop("checked", true);
        $(this).css("background-color", "#666666");
      }
    });
  });
= form_for(@schedule_type) do |f|
  - if @schedule_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@schedule_type.errors.count, "error")
        prohibited this schedule_type from being saved:
      %ul
        - @schedule_type.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :start_date
    %br/
    = f.date_select :start_date
  .field
    = f.label :end_date
    %br/
    = f.date_select :end_date  
  - if @show_calendar
    %p Holidays
    - (0..11).each do |m|
      - d = @schedule_type.start_date >> m
      = calendar_for(d.year, d.month, :yield_surrounding_days => true, :current_month => "%Y-%m") do |day|                                                   |
          if @holidays.include?(day.to_s) then                                                                                                               |
            ["<input class='day_checkbox' type='checkbox' name='dates[]' value='" + day.to_s + "' style='display: none;' checked='checked'>" + day.day.to_s, |
            {:value => day.to_s, :style => "background-color: #666666;"}]                                                                                    |
          else                                                                                                                                               |
            ["<input class='day_checkbox' type='checkbox' name='dates[]' value='" + day.to_s + "' style='display: none;'>" + day.day.to_s,                   |
            {:value => day.to_s}]                                                                                                                            |
          end                                                                                                                                                |
        end                                                                                                                                                  |
  .actions
    = link_to 'Back', schedule_types_path, :class => "btn btn-medium"
    = f.submit 'Update Schedule', :class => "btn btn-primary"