:javascript
  $(function(){

  });

- if flash[:alert]
  .alert.alert-success.alert-block.fade.in
    %button.close{:type => "button", :data => {:dismiss => "alert"}}
      &times;
    - case flash[:alert]
      - when "create"
        %h4 Schedule Type Created!
        You can now set the holidays for this type by selecting "Edit".
      - when "delete"
        %h4 Schedule Type Deleted
%br/
= link_to new_schedule_type_path, :class => "btn" do
  %i.icon-plus-sign
  New Schedule Type
%br/
%br/
%table.table.table-bordered.table-hover
  %tr
    %th Name
    %th Start
    %th End
    %th
  - @schedule_types.each do |schedule_type|
    %tr.middle
      %td= schedule_type.name
      %td= schedule_type.start_date
      %td= schedule_type.end_date
      %td
        .btn-toolbar
          .btn-group
            = link_to edit_schedule_type_path(schedule_type), :class => "btn btn-small" do
              %i.icon-edit
              Edit
            = link_to schedule_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small" do
              %i.icon-trash
              Delete