:javascript
  $(function(){
    $("#time_fields_container").find("select").change(function(){
      var start_min = (Number($("#regular_class_start_time_4i").val()) * 60) + Number($("#regular_class_start_time_5i").val());
      var finish_min = (Number($("#regular_class_finish_time_4i").val()) * 60) + Number($("#regular_class_finish_time_5i").val());
      var min = finish_min - start_min;
      if(min >= 0){
        $("#regular_class_teaching_time").val(min);
      }
    });

    var default_schedule_type = "#{@default_schedule_type}";
    if(default_schedule_type != ""){
      $("#regular_class_schedule_type_id").val(default_schedule_type);
    }
  });

= form_for(@regular_class, :html => {:class => "form-horizontal"}) do |f|
  - if @regular_class.errors.any?
    #error_explanation
      %h2
        = pluralize(@regular_class.errors.count, "error")
        prohibited this regular_class from being saved:
      %ul
        - @regular_class.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    %label.control-label Class Name
    .controls
      = f.text_field :name
  .control-group
    %label.control-label Schedule Type
    .controls
      = f.select :schedule_type_id, @schedule_types
  .control-group
    %label.control-label Day
    .controls
      = f.select :day, [["Free", -1], ["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5], ["Saturday", 6], ["Sunday", 0]]
  #time_fields_container
    .control-group
      %label.control-label Start
      .controls
        = f.time_select :start_time, {:minute_step => 5}, {"class" => "input-mini"}
    .control-group
      %label.control-label Finish
      .controls
        = f.time_select :finish_time, {:minute_step => 5}, {"class" => "input-mini"}
  .control-group
    %label.control-label Teaching Time
    .controls
      .input-append
        = f.number_field :teaching_time, {"class" => "input-mini", "style" => "text-align: right;"}
        %span.add-on minutes
  .control-group
    %label.control-label Non-teaching Time
    .controls
      .input-append
        = f.number_field :non_teaching_time, {"class" => "input-mini", "style" => "text-align: right;"}
        %span.add-on minutes
  .control-group
    %label.control-label Textbook
    .controls
      = f.text_field :textbook
  .control-group
    %label.control-label Location
    .controls
      = f.text_field :location
  .control-group
    %label.control-label Teacher
    .controls
      = f.select :teacher_id, @teachers
  .control-group
    .controls
      .actions
        = f.submit "Create", :class => "btn btn-primary"