:javascript
  $(function(){
    //switch("#{@sort}"){
    //  case "na"
    //}
    $("#sort_#{@sort}").addClass("btn-info");
  });

- if flash[:alert]
  .alert.alert-success.alert-block.fade.in
    %button.close{:type => "button", :data => {:dismiss => "alert"}}
      &times;
    - case flash[:alert]
      - when "add_lessons"
        %h4 Regular Class Updated
        = 'A total of ' + flash[:count] + ' lessons have been scheduled for "' + flash[:class_name] + '"' 
      - when "delete"
        %h4 Schedule Type Deleted
%br/
- if @schedule_type
  = link_to new_regular_class_path(:schedule_type => @schedule_type), :class => "btn" do
    %i.icon-plus-sign
    New Regular Class
- else
  = link_to new_regular_class_path, :class => "btn" do
    %i.icon-plus-sign
    New Regular Class

%br/
%br/
%table.table.table-bordered.table-hover
  %tr
    %th 
      Name
      = link_to regular_classes_path(:schedule_type => @schedule_type, :sort => "name"), :class => "btn btn-mini", :id => "sort_name" do
        %i.icon-arrow-down
    %th Teacher
    %th{:colspan => "2"} 
      Day & Time
      = link_to regular_classes_path(:schedule_type => @schedule_type, :sort => "day"), :class => "btn btn-mini", :id => "sort_day" do
        %i.icon-arrow-down
    %th
  - @regular_classes.each do |regular_class|
    %tr.middle
      %td= regular_class.name
      %td= regular_class.teacher ? regular_class.teacher.name : "---"
      %td= %w{SUN MON TUE WED THU FRI SAT FREE}[regular_class.day]
      %td= regular_class.start_time.strftime("%H:%M") + " - " + regular_class.finish_time.strftime("%H:%M")
      %td
        .btn-toolbar
          .btn-group
            = link_to regular_class, :class => "btn btn-small" do
              %i.icon-search
              Show
            = link_to schedule_lessons_url(regular_class), :class => "btn btn-small" do
              %i.icon-plus
              Add Lessons
            = link_to edit_regular_class_path(regular_class), :class => "btn btn-small" do
              %i.icon-edit
              Edit
            = link_to regular_class, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small" do
              %i.icon-trash
              Delete

