:javascript
  $(function(){

    $('form').submit(function(data){
      console.log($(this).serializeArray());
      return true;
    });

    console.log("schedule_type = #{@schedule_type}");
    console.log("schedule_type.id = #{@schedule_type.id}");
  });

  function addAllDays(){
    $("td.day").not('.otherMonth').not('.selected').each(function(){
      toggleDay($(this));
    });
  }

  function removeAllDays(){
    $("td.day.selected").not('.otherMonth').each(function(){
      toggleDay($(this));
    });
  }

  function toggleDay(cell){
    //console.log($(cell).html());
    var checked = $(cell).children(".day_checkbox").prop("checked");
    if(checked == true){
      $(cell).children(".day_checkbox").prop("checked", false);
      $(cell).removeClass("selected");
    }else if(checked == false){
      $(cell).children(".day_checkbox").prop("checked", true);
      $(cell).addClass("selected");
    }
  }

%h2= "Add / Remove Lessons - " + @regular_class.name
- if @schedule_type.name != "Custom" then
  %a.btn{:onclick => "addAllDays()"}
    %i.icon-plus-sign
    Add All Days
  %a.btn{:onclick => "removeAllDays()"}
    %i.icon-minus-sign
    Remove All Days
  %br
= form_for @regular_class, :url => create_lessons_regular_class_path, :method => 'post' do |f|
  - (0..11).each do |m|
    - d = @schedule_type.start_date >> m
    = calendar_for(d.year, d.month, :yield_surrounding_days => false, :current_month => "%Y-%m") do |day|                                                  |
        if @holidays.include?(day.to_s) or day.sunday? or ( day.wday != @regular_class.day and @regular_class.day != -1 ) then                             |
          [day.day.to_s,                                                                                                                                   |
          {:value => day.to_s, :style => "background-color: #666666; cursor: default;"}]                                                                   |
        elsif @lessons.include?(day.to_s) then                                                                                                             |
          ["<input class='day_checkbox' type='checkbox' name='dates[]' value='" + day.to_s + "' style='display: none;' checked='checked'>" + day.day.to_s, |
          {:value => day.to_s, :onclick => "toggleDay(this)", :class => "selected"}]                                                                       |
        else                                                                                                                                               |
          ["<input class='day_checkbox' type='checkbox' name='dates[]' value='" + day.to_s + "' style='display: none;'>" + day.day.to_s,                   |
          {:value => day.to_s, :onclick => "toggleDay(this)"}]                                                                                             |
        end                                                                                                                                                |
      end                                                                                                                                                  |
  %br
    = link_to "Back", regular_classes_path(:schedule_type => @regular_class.schedule_type), :class => "btn"
    %a.btn.btn-primary{:onclick => "$('form.edit_regular_class').submit()"}
      Add / Remove Classes