:javascript
  $(function(){

  });
%p#notice= notice
%p
  %b Length:
  = @regular_class.length
%p
  %b Start time:
  = @regular_class.start_time
%p
  %b Finish time:
  = @regular_class.finish_time
%p
  %b Textbook:
  = @regular_class.textbook
%p
  %b Name:
  = @regular_class.name
%p
  %b Location:
  = @regular_class.location
%p
  %b Day:
  = @regular_class.day
= link_to 'Edit', edit_regular_class_path(@regular_class)
|
\#{link_to 'Back', regular_classes_path}