= form_for @notification do |f|
  - if @notification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notification.errors.count, "error")} prohibited this notification from being saved:"
      %ul
        - @notification.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :teacher_id
    = f.number_field :teacher_id
  .field
    = f.label :confirmed_at
    = f.datetime_select :confirmed_at
  .field
    = f.label :lesson_id
    = f.number_field :lesson_id
  .field
    = f.label :notification_type
    = f.number_field :notification_type
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
