:javascript
  $(function(){

  });

  function staffOK(notification_id) {
    if(confirm("#{t('notifications.staff_ok_dialog')}")) {
      $.ajax({
        url: "confirm/staff_ok?n=" + notification_id,
      }).done(function(response){
        window.location.reload();
      });
    }
  }

%table.table.table-bordered
  %tr
    %th= t('notifications.status')
    %th= t('notifications.teacher')
    %th{:colspan => "3"}= t('notifications.lesson')
    %th= t('notifications.notification_type')
    %th= t('notifications.sent')
    %th

  - @notifications.each do |notification|
    - @l = Lesson.find(notification.lesson_id) rescue nil
    %tr{:class => "#{notification.status.to_s == Notification::Status::Unconfirmed ? 'error' : 'success'}"}
      %td= ["---", "#{t('notifications.status_unconfirmed')}", "#{t('notifications.status_confirmed')}"][notification.status]
      %td= Teacher.find(notification.teacher_id).name
      %td= @l.name rescue "---"
      %td= @l.date.strftime("%m-%d") rescue ""
      %td
        = @l.start_time.strftime("%H:%M") + " ~" rescue ""
        = @l.finish_time.strftime("%H:%M") rescue ""
      %td= ["---", "#{t('notifications.type_cancel')}", "#{t('notifications.type_add')}"][notification.notification_type]
      %td= notification.created_at ? (notification.created_at + (60 * 60 * 9)).strftime('%m-%d %H:%M') : "---"
      %td
        - if notification.status.to_s == Notification::Status::Unconfirmed
          %a{:onclick => "staffOK('#{notification.id}')", :style => "cursor: pointer;"}= t('notifications.staff_ok')

%br
