%p#notice= notice

%p
  %b Teacher:
  = @notification.teacher_id
%p
  %b Confirmed at:
  = @notification.confirmed_at
%p
  %b Lesson:
  = @notification.lesson_id
%p
  %b Notification type:
  = @notification.notification_type
%p
  %b Status:
  = @notification.status

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
