= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "E-mail"
    %br/
    = f.text_field :email
  .field
    = f.label "Role"
    %br/
    = f.select :admin_flag, [["Teacher", "false"], ["Staff", "true"]]
  .field
    = f.label "Language"
    %br/
    = f.select :language, [["English", "en"], ["Japanese", "jp"]]
  .actions
    = f.submit 'Save'
