%h1 Listing users

%table.table
  %tr
    %th E-mail
    %th Role
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.admin_flag == true ? "Staff" : "Teacher"
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
