:javascript
  var LESSON_ID;

  $(function(){
    $(".lesson_cell").tooltip({html : true});
    $(".lesson_cell").click(function(){
      //$(this).tooltip("close");
    });
    $(".dropdown-toggle").dropdown();
    $("#date-changer").datepicker({ 
      dateFormat: "yy-mm-dd",
      showButtonPanel: true,
      closeText: "Cancel",
      showAnim: "",
      onSelect: function(date_string){
        window.location = "/" + date_string;
      }
    });
    $("#add_class_type").change(function(){
      if($(this).val() == "pfl"){
        $("#add_class_hours").val("0");
        $("#add_class_minutes").val("30");
        $("#add_class_length_group").slideUp();
        $("#add_class_name_group").slideUp();
      }else{
        $("#add_class_length_group").slideDown();
        $("#add_class_name_group").slideDown();
      }
    });

    $('a[data-toggle="tab"]').on('shown', function (e) {
      $('#modalEditLessonFooter button').hide();
      switch($(e.target).attr("id")){
        case "editDialogCancelTabLink":
          $('#buttonCancelClass').show();
          break;
        case "editDialogSubTabLink":
          $('#buttonSubClass').show();
          break;
        case "editDialogDeleteTabLink":
          $('#buttonDeleteClass').show();
          break;
      }
      //alert($(e.target).attr("id"));
    })
  });

  function cancelLesson(){
    $("#buttonCancelClass").attr("disabled", "disabled").html("#{t('home.please_wait')}");
    var status = $("#cancelClassForm").find(".cancelRadio:checked").val(),
      shouldSendEmail = $("#cancelSendMail").prop('checked'),
      staffName = $("#cancelStaffName").val()
    ;

    $.ajax({
      url: "lessons/" + LESSON_ID + "/cancel.json?id=" + LESSON_ID + "&status=" + status + "&sendemail=" + shouldSendEmail + "&staff_name=" + staffName,
    }).done(function(response){
      $("#buttonCancelClass").removeAttr("disabled").html("#{t('home.cancel_lesson')}");
      if(response.status == "1"){
        alert(response.msg);
        window.location.reload();
        // var mail_to_link = "mailto:";
        // mail_to_link += response.mail_to_address;
        // mail_to_link += "?subject=" + response.mail_to_subject;
        // mail_to_link += "&body=" + response.mail_to_message;
        // $("#cancellation_mail_to_area").append("<a href=\"" + mail_to_link + "\" target=\"_blank\">CANCEL MAIL</a>");
      }else{
        alert("#{t('dialog.could_not_update_lesson')}");
      }
    });
        
  }

  function subLesson(){
    $("#buttonSubClass").attr("disabled", "disabled").html("#{t('home.please_wait')}");
    var teacher_id = $("#subClassForm").find(".subRadio:checked").val();

    $.ajax({
      url: "lessons/" + LESSON_ID + "/sub.json?id=" + LESSON_ID + "&teacher_id=" + teacher_id,
    }).done(function(response){
      $("#buttonSubClass").removeAttr("disabled").html("#{t('home.sub_lesson')}");
      if(response.status == "1"){
        alert(response.msg);
        window.location.reload();
      }else{
        alert("#{t('dialog.could_not_update_lesson')}");
      }
    });
  }

  function deleteLesson(){
    $("#buttonDeleteClass").attr("disabled", "disabled").html("#{t('home.please_wait')}");
    $.ajax({
      url: "lessons/" + LESSON_ID + ".json",
      type: "DELETE"
    }).done(function(response){
      $("#buttonDeleteClass").removeAttr("disabled").html("#{t('home.delete_lesson')}");
      if(response.status == "1"){
        alert(response.msg);
        window.location.reload();
      }else{
        alert("#{t('dialog.could_not_delete_lesson')}");
      }
    });
  }

  function openAddLessonDialog(teacher){
    $('#add_class_teacher').val(teacher);
    $("#add_class_hours").val("0");
    $("#add_class_minutes").val("30");
    $("#add_class_type").val("pfl");
    $('#modalAddClass').modal('show');
  }

  function openEditDialog(lesson_id){
    if("#{current_user.is_staff?}" != "true"){
      return;
    }
    $.ajax({
      url: "lessons/" + lesson_id + ".json",
    }).done(function(response){
      var lesson = response.lesson,
        teacher = response.teacher
      ;
      LESSON_ID = lesson_id;
      $('#modalEditLessonLabel').html(lesson.name);

      // Info
      var start_time = lesson.start_time.substring(11, 16),
        finish_time = lesson.finish_time.substring(11, 16)
      ;
      $('#editDialogInfoTime').html(start_time + " - " + finish_time);
      $('#editDialogInfoTeacher').html(teacher.name);
      if(lesson.location){
        $('#editDialogInfoLocation').html(lesson.location);
      }else{
        $('#editDialogInfoLocation').html("none");
      }

      //Sub
      $('.subRadio[value=' + lesson.teacher_id + ']').prop("checked", "checked");
      $('#modalEditTabs a[href="#editDialogInfoTab"]').tab('show');
      $('#modalEditLesson').modal('show');
    });  
  }

  function addLesson(){
    var params = "?teacher_id=" + $('#add_class_teacher').val();
    params += "&date=" + "#{@date}";
    params += "&start_time=" + $('#class_time_4i').val() + ":" + $('#class_time_5i').val();
    params += "&length=" + (Number($('#add_class_hours').val()) * 60 + Number($('#add_class_minutes').val()));
    params += "&type=" + $('#add_class_type').val();

    var class_name = $('#add_class_name').val();
    if(class_name == ""){
      class_name = "PFL";
    }
    params += "&name=" + class_name;

    $.ajax({
      url: "lessons/add" + params,
    }).done(function(response){
      if(response.status == "1"){
        window.location.reload();
      }else{
        alert("#{t('dialog.could_not_add_lesson')}");
      }
    });  
  }

  function toggleCancelledLessons(btn){
    $(btn).toggleClass("active");
    $(".lesson_cell.status2").fadeToggle();
    $(".lesson_cell.status3").fadeToggle();
    $(".lesson_cell.status4").fadeToggle();
    $(".lesson_cell.status5").fadeToggle();
  }

- if current_user.teacher or current_user.is_staff?
  .navbar{:style => "margin-bottom: 0;"}
    .navbar-inner
      %form.navbar-form.pull-left
        = link_to "<<", dailyschedule_url(:date => @date.to_date.prev_day), {:class => "btn"}
        %input#date-changer.input-small.search-query{:type => "text", :style => "text-align: center;", :value => "#{@date}"}
        = link_to ">>", dailyschedule_url(:date => @date.to_date.next_day), {:class => "btn"}
      %ul.nav#toggler
        %li.divider-vertical
        %button.btn{:type => "button", :onclick => "toggleCancelledLessons(this)"}= t("home.show_cancelled_lessons")
  %table{:style => "width: 866px; float: right;"}
    %tr
      - (9..20).each do |h|
        %td{:style => "width: 72px;"}
          = h
          \:00
  %table{:style => "width: 100%; margin-left: auto; margin-right: auto; border: 1px solid black;"}
    - @teachers.each do |teacher|
      %tr{:style => "border-bottom: 1px solid black;"}
        %td{:style => "border-right: 1px solid black; text-align: center; height: 50px;"}
          - if current_user.is_staff?
            %a.btn{:onclick => "openAddLessonDialog('#{teacher.id}')"} 
              %i.icon-plus
        %td{:style => "border-right: 1px solid black; text-align: center; height: 50px;"}
          %span= teacher.name
        %td{:style => "width: 864px; padding: 0px;"}
          %div{:style => "position: relative; width: 100%; height: 52px;"}
            - (1..11).each do |h|
              %div{:style => "position: absolute; height: 52px; width: 1px; left: #{72 * h}px; background-color: #DDDDDD;"}
            - teacher.off_times_on(@date).each do |o|
              - left = o.start_5minutes * 6
              - if left < 0 then left = 0 end
              - width = (o.length / 5 * 6)
              %div{:class => "off_time_cell", :style => "width: #{width}px; left: #{left}px;"}
            - teacher.lessons_on(@date).each do |l|
              - left = l.start_5minutes * 6
              - if left < 0 then left = 0 end
              - width = (l.length / 5 * 6) - 6
              - if l.name == "OFF"
                %div{:class => "lesson_cell lesson_off status#{l.status.to_s}", :style => "width: #{width}px; left: #{left}px;", :title => "#{l.tooltip_text}", :onclick => "openEditDialog('#{l.id}')"}
                  - if l.length >= 30 then
                    %p{:style => "font-size: 10px; width: #{width}px; text-align: center; line-height: 50px;"}= l.name
                  - else
                    %p{:style => "width: 10px; margin-left: #{(width / 2) - 5}px;"}
              - else
                %div{:class => "lesson_cell status#{l.status.to_s}", :style => "width: #{width}px; left: #{left}px;", :title => "#{l.tooltip_text}", :onclick => "openEditDialog('#{l.id}')"}
                  - if l.length >= 30 then
                    %p{:style => "font-size: 10px; width: #{width}px; text-align: center; line-height: 50px;"}= l.name
                  - else
                    %p{:style => "width: 10px; margin-left: #{(width / 2) - 5}px;"}
  #modalEditLesson.modal.hide.fade{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "modalEditLessonLabel", "aria-hidden" => "true"}
    .modal-header
      %button.close{:type => "button", "aria-hidden" => "true", :data => {:dismiss => "modal"}}X
      %h3#modalEditLessonLabel= t("home.lesson_name")
    .modal-body
      %ul#modalEditTabs.nav.nav-pills
        %li.active
          %a#editDialogInfoTabLink{:href => "#editDialogInfoTab", :data => {:toggle => "tab"}}= t("home.info")
        %li
          %a#editDialogCancelTabLink{:href => "#editDialogCancelTab", :data => {:toggle => "tab"}}= t("home.cancellation")
        %li
          %a#editDialogSubTabLink{:href => "#editDialogSubTab", :data => {:toggle => "tab"}}= t("home.sub")
        %li
          %a#editDialogDeleteTabLink{:href => "#editDialogDeleteTab", :data => {:toggle => "tab"}}= t("home.delete")
      .tab-content
        #editDialogInfoTab.tab-pane.active
          %dl.dl-horizontal
            %dt= t("home.time")
            %dd#editDialogInfoTime 12:00 - 13:00
            %dt= t("home.teacher")
            %dd#editDialogInfoTeacher Teacher Name
            %dt= t("home.location")
            %dd#editDialogInfoLocation Location
        #editDialogCancelTab.tab-pane
          %form#cancelClassForm
            %label.radio
              %input.cancelRadio#cancelOnPreviousDay{:type => "radio", :name => "cancelType", :value => "#{Lesson::Status::CancelledOnPreviousDay}", :select => "selected"}
              = t("home.cancelled_on_previous_day")
            %label.radio
              %input.cancelRadio#cancelledBeforeArrival{:type => "radio", :name => "cancelType", :value => "#{Lesson::Status::CancelledBeforeArrival}"}
              = t("home.cancelled_before_arrival")
            %label.radio
              %input.cancelRadio#cancelledAfterArrival{:type => "radio", :name => "cancelType", :value => "#{Lesson::Status::CancelledAfterArrival}"}
              = t("home.cancelled_after_arrival")
            %label.radio
              %input.cancelRadio#noShow{:type => "radio", :name => "cancelType", :value => "#{Lesson::Status::NoShow}"}
              = t("home.no_show")
            %br
            %label.checkbox
              %input#cancelSendMail{:type => "checkbox", :checked => "checked"}
              = t("home.send_email_notice")
            = t("home.staff")
            %input#cancelStaffName{:type => "text", :name => "staff_name"}
            #cancellation_mail_to_area
        #editDialogSubTab.tab-pane
          %form#subClassForm
            - @teachers.each do |subteacher|
              %label.radio
                %input.subRadio{:type => "radio", :name => "subTeacher", :value => "#{subteacher.id}"}
                = subteacher.name
        #editDialogDeleteTab.tab-pane
          %h3= t("home.delete_warning_1")
          %p= t("home.delete_warning_2")
    #modalEditLessonFooter.modal-footer
      %button#buttonCancelClass.btn.btn-primary{:onclick => "cancelLesson()", :style => "display: none;", :data => {"loading-text" => "#{t('home.please_wait')}"}}= t("home.cancel_lesson")
      %button#buttonSubClass.btn.btn-primary{:onclick => "subLesson()", :style => "display: none;", :data => {"loading-text" => "#{t('home.please_wait')}"}}= t("home.sub_lesson")
      %button#buttonDeleteClass.btn.btn-primary{:onclick => "deleteLesson()", :style => "display: none;", :data => {"loading-text" => "#{t('home.please_wait')}"}}= t("home.delete_lesson")
  #modalAddClass.modal.hide.fade{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "modalAddClassLabel", "aria-hidden" => "true"}
    .modal-header
      %button.close{:type => "button", "aria-hidden" => "true", :data => {:dismiss => "modal"}}X
      %h3#modalAddClassLabel= t("home.add_lesson_event")
    .modal-body
      %form.form-horizontal{}
        .control-group
          %label.control-label{"for" => "add_class_teacher"}= t("home.teacher")
          .controls
            = select_tag "teacher", options_from_collection_for_select(Teacher.all, "id", "name"), :id => "add_class_teacher"
        .control-group
          %label.control-label{"for" => "add_class_type"}= t("home.type")
          .controls
            %select#add_class_type{:name => "type"}
              %option{:value => "event"}= t("home.event")
              %option{:value => "pfl"}= t("home.pfl")
        .control-group
          %label.control-label{"for" => "add_class_time"}= t("home.start_time")
          .controls
            = time_select 'class', 'time', {:minute_step => 5}, {:class => "input-mini"}
        #add_class_length_group.control-group{:style => "display: none;"}
          %label.control-label{"for" => "add_class_length"}= t("home.length")
          .controls
            %select#add_class_hours.input-mini{:name => "hours"}
              - (0..8).each do |h|
                %option{:value => "#{h}"} #{h}
            = t("home.hours")
            %select#add_class_minutes.input-mini{:name => "minutes"}
              - (0..11).each do |m|
                %option{:value => "#{m*5}"} #{m*5}
            = t("home.minutes")
        #add_class_name_group.control-group{:style => "display: none;"}
          %label.control-label{"for" => "add_class_name"}= t("home.name")
          .controls
            %input#add_class_name.input-large{:name => "name"}
    .modal-footer
      %button.btn{"aria-hidden" => "true", :data => {:dismiss => "modal"}}= t("home.cancel")
      %button.btn.btn-primary{:onclick => "addLesson()"}= t("home.add_lesson")
