＝＝＝報告＝＝＝<br>
以下のレッスンがキャンセルされました：<br>
<br>
講師：<%= @teacher.name %><br>
クラス：<%= @lesson.name %><br>
日付：<%= @lesson.date.strftime("%Y年%m月%d日") %><br>
時間：<%= @lesson.start_time.strftime("%H:%M") %> - <%= @lesson.finish_time.strftime("%H:%M") %><br>
<br>
受付：<%= @staff_name %><br>
IAY Schedulerより
