<%= @teacher.name %>,

One of your lessons has been cancelled for <%= @lesson.date %>:

NAME: <%= @lesson.name %>
TIME: <%= @lesson.start_time.strftime("%H:%M") %> - <%= @lesson.finish_time.strftime("%H:%M") %>

MEMO: <%= @type %>