<%= @teacher.name %>,<br>
<br>
One of your lessons has been cancelled for <%= @lesson.date.strftime("%A, %B %d") %>:<br>
<br>
NAME: <%= @lesson.name %><br>
TIME: <%= @lesson.start_time.strftime("%H:%M") %> - <%= @lesson.finish_time.strftime("%H:%M") %><br>
<br>
<br>
<a href="<%= Yetting.base_url %>confirm/ok?n=<%= @notification_id %>">Click here to confirm!</a>
<br>
<br>
TEL: 011-281-5188<br>
<br>
DO NOT REPLY TO THIS E-MAIL. IT WAS SENT BY A ROBOT.<br>


