= form_for(@lesson) do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2
        = pluralize(@lesson.errors.count, "error")
        prohibited this lesson from being saved:
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .field
    = f.label :start_time
    %br/
    = f.time_select :start_time
  .field
    = f.label :finish_time
    %br/
    = f.time_select :finish_time
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :status
    %br/
    = f.text_field :status
  .field
    = f.label :location
    %br/
    = f.text_field :location
  .actions
    = f.submit