%h1 Listing lessons
%table.table
  %tr
    %th Start time
    %th Finish time
    %th Name
    %th Status
    %th Location
    %th
    %th
    %th
  - @lessons.each do |lesson|
    %tr
      %td= lesson.date
      %td= lesson.start_time.strftime('%H:%M')
      %td= lesson.finish_time.strftime('%H:%M')
      %td= lesson.name
      %td= lesson.status
      %td= lesson.location
      %td= link_to 'Show', lesson
      %td= link_to 'Edit', edit_lesson_path(lesson)
      %td= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Lesson', new_lesson_path