%p#notice= notice
%p
  %b Start time:
  = @lesson.start_time
%p
  %b Finish time:
  = @lesson.finish_time
%p
  %b Name:
  = @lesson.name
%p
  %b Status:
  = @lesson.status
%p
  %b Location:
  = @lesson.location
= link_to 'Edit', edit_lesson_path(@lesson)
|
\#{link_to 'Back', lessons_path}