= form_for(@teacher) do |f|
  - if @teacher.errors.any?
    #error_explanation
      %h2
        = pluralize(@teacher.errors.count, "error")
        prohibited this teacher from being saved:
      %ul
        - @teacher.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :message_preference
    %br/
    = f.select :message_preference, [["No automatic e-mails", 0], ["Notify only before days with urgent classes", 1], ["Notify before any day with classes", 2]]  
  .actions
    = f.submit