:javascript
  $(function(){

  });

  function addOffTimeRow(){
    var day_of_week = $("#day_of_week").val(),
      start_hours = $("#start_time_hours").val(),
      start_minutes = $("#start_time_minutes").val(),
      finish_hours = $("#finish_time_hours").val(),
      finish_minutes = $("#finish_time_minutes").val()
    ;
    //alert("From " + start_hours + ":" + start_minutes + " to " + finish_hours + ":" + finish_minutes);

    var new_row = $(".new_off_time_row").clone().removeClass("new_off_time_row");
    $(new_row).children(".time_text").html(start_hours + ":" + start_minutes + " ~ " + finish_hours + ":" + finish_minutes)
    $(new_row).children(".day_of_week").val(day_of_week);
    $(new_row).children(".start_time").val(start_hours + ":" + start_minutes);
    $(new_row).children(".finish_time").val(finish_hours + ":" + finish_minutes);
    $("#day_of_week_" + day_of_week).append(new_row);
  }

  function deleteRow(link_element){
    $(link_element).parent().remove();
  }

%h2 Unavailable Time for #{@teacher.name}
%form
  %table
    %tr
      %td Day
      %td From
      %td Until
      %td
    %tr
      %td{:style => "padding-right: 20px;"}
        %select#day_of_week
          %option{:value => "1"} Monday
          %option{:value => "2"} Tuesday
          %option{:value => "3"} Wednesday
          %option{:value => "4"} Thursday
          %option{:value => "5"} Friday
          %option{:value => "6"} Saturday
      %td{:style => "padding-right: 20px;"}
        = select_tag(:start_time_hours, options_for_select(9..21), {:class => "input-mini"})
        = ":"
        = select_tag(:start_time_minutes, options_for_select(["00", "05", 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]), {:class => "input-mini"})
      %td{:style => "padding-right: 20px;"}
        = select_tag(:finish_time_hours, options_for_select(9..21), {:class => "input-mini"})
        = ":"
        = select_tag(:finish_time_minutes, options_for_select(["00", "05", 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]), {:class => "input-mini"})
      %td
        %input.btn{:type => "button", :value => "Add", :style => "line-height: 30px; margin-bottom: 10px;", :onclick => "addOffTimeRow()"}
%ul{:style => "display: none;"}
  %li.new_off_time_row
    %span.time_text Hi!
    %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
    %input.day_of_week{:name => "days[]", :type => "hidden"}
    %input.start_time{:name => "start_times[]", :type => "hidden"}
    %input.finish_time{:name => "finish_times[]", :type => "hidden"}
= form_tag(:controller => "teachers", :action => "set_availability", :id => "#{@teacher.id}") do
  %h4 Monday
  %ul#day_of_week_1
    - @off_times.each do |o|
      - if o.day == 1
        %li
          %span.time_text= o.start_time.strftime("%H:%M") + " ~ " + o.finish_time.strftime("%H:%M")
          %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
          %input.day_of_week{:name => "days[]", :type => "hidden", :value => "#{o.day}"}
          %input.start_time{:name => "start_times[]", :type => "hidden", :value => "#{o.start_time.strftime('%H:%M')}"}
          %input.finish_time{:name => "finish_times[]", :type => "hidden", :value => "#{o.finish_time.strftime('%H:%M')}"}
  %h4 Tuesday
  %ul#day_of_week_2
    - @off_times.each do |o|
      - if o.day == 2
        %li
          %span.time_text= o.start_time.strftime("%H:%M") + " ~ " + o.finish_time.strftime("%H:%M")
          %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
          %input.day_of_week{:name => "days[]", :type => "hidden", :value => "#{o.day}"}
          %input.start_time{:name => "start_times[]", :type => "hidden", :value => "#{o.start_time.strftime('%H:%M')}"}
          %input.finish_time{:name => "finish_times[]", :type => "hidden", :value => "#{o.finish_time.strftime('%H:%M')}"}
  %h4 Wednesday
  %ul#day_of_week_3
    - @off_times.each do |o|
      - if o.day == 3
        %li
          %span.time_text= o.start_time.strftime("%H:%M") + " ~ " + o.finish_time.strftime("%H:%M")
          %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
          %input.day_of_week{:name => "days[]", :type => "hidden", :value => "#{o.day}"}
          %input.start_time{:name => "start_times[]", :type => "hidden", :value => "#{o.start_time.strftime('%H:%M')}"}
          %input.finish_time{:name => "finish_times[]", :type => "hidden", :value => "#{o.finish_time.strftime('%H:%M')}"}
  %h4 Thursday
  %ul#day_of_week_4
    - @off_times.each do |o|
      - if o.day == 4
        %li
          %span.time_text= o.start_time.strftime("%H:%M") + " ~ " + o.finish_time.strftime("%H:%M")
          %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
          %input.day_of_week{:name => "days[]", :type => "hidden", :value => "#{o.day}"}
          %input.start_time{:name => "start_times[]", :type => "hidden", :value => "#{o.start_time.strftime('%H:%M')}"}
          %input.finish_time{:name => "finish_times[]", :type => "hidden", :value => "#{o.finish_time.strftime('%H:%M')}"}
  %h4 Friday
  %ul#day_of_week_5
    - @off_times.each do |o|
      - if o.day == 5
        %li
          %span.time_text= o.start_time.strftime("%H:%M") + " ~ " + o.finish_time.strftime("%H:%M")
          %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
          %input.day_of_week{:name => "days[]", :type => "hidden", :value => "#{o.day}"}
          %input.start_time{:name => "start_times[]", :type => "hidden", :value => "#{o.start_time.strftime('%H:%M')}"}
          %input.finish_time{:name => "finish_times[]", :type => "hidden", :value => "#{o.finish_time.strftime('%H:%M')}"}
  %h4 Saturday
  %ul#day_of_week_6
    - @off_times.each do |o|
      - if o.day == 6
        %li
          %span.time_text= o.start_time.strftime("%H:%M") + " ~ " + o.finish_time.strftime("%H:%M")
          %a{:onclick => "deleteRow(this)", :style => "cursor: pointer;"} X
          %input.day_of_week{:name => "days[]", :type => "hidden", :value => "#{o.day}"}
          %input.start_time{:name => "start_times[]", :type => "hidden", :value => "#{o.start_time.strftime('%H:%M')}"}
          %input.finish_time{:name => "finish_times[]", :type => "hidden", :value => "#{o.finish_time.strftime('%H:%M')}"}
  %input.btn.btn-primary{:type => "submit", :value => "Save"}