:javascript
  $(function(){

  });

  function sendTestMail(teacher_id, link){
    $.ajax({
      url: "teachers/" + teacher_id + "/send_test_mail.json?id=" + teacher_id,
    }).done(function(response){
      if(response.status == "1"){
        alert("Mail Sent");
      }else{
        alert("Could not send mail.");
      }
    });
  }

%table.table.table-striped
  %tr
    %th Name
    %th
    %th
    %th
    %th
    %th
  - @teachers.each do |teacher|
    %tr
      %td= teacher.name
      %td= link_to 'Show', teacher
      %td= link_to 'CSV', "teachers/" + teacher.id.to_s + ".csv"
      %td= link_to 'Edit', edit_teacher_path(teacher)
      %td= link_to 'Availability', availability_url(teacher)
      %td= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Teacher', new_teacher_path