:javascript
  $(function(){

  });
%p#notice= notice
%table.table
  %tr
    %td Name
    %td= @teacher.name
%p Regular Classes
%table.table
  - @teacher.regular_classes.all.each do |regular_class|
    %tr
      %td= regular_class.name
= link_to 'Edit', edit_teacher_path(@teacher)
|
\#{link_to 'Back', teachers_path}