// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.off_time_cell{
  height: 53px; 
  padding: 0; 
  position: absolute; 
  /*border: 3px outset white;*/
  display: inline-block;
  background-color: grey;
  border-color: #000000;
  opacity: 0.5;
}

div.off_time_cell.weekly{
  height: 96px; 
}

div.lesson_cell{
  height: 47px; 
  padding: 0; 
  position: absolute; 
  border: 3px outset white;
  display: inline-block;
  cursor: pointer;
}

div.lesson_cell.status1{
  background-color: palegreen;
  border-color: #009900;
}

div.lesson_cell.status1.highlight{
  background: rgba(255, 0, 0, 1);
  border-color: rgba(200, 0, 0, 1);
}

div.lesson_cell.status2{
  background: rgba(255, 0, 0, 0.5);
  border-color: rgba(200, 0, 0, 0.5);
  display: none;
}

div.lesson_cell.status3{
  background: rgba(255, 0, 0, 0.5);
  border-color: rgba(200, 0, 0, 0.5);
  display: none;
}

div.lesson_cell.status4{
  background: rgba(255, 0, 0, 0.5);
  border-color: rgba(200, 0, 0, 0.5);
  display: none;
}

div.lesson_cell.status5{
  background: rgba(255, 0, 0, 0.5);
  border-color: rgba(200, 0, 0, 0.5);
  display: none;
}

div.lesson_cell.weekly{
  height: 90px; 
}

div.lesson_cell.lesson_off{
  background-color: #0000FF;
  border-color: #000099;
}
