// Place all the styles related to the RegularClasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.calendar{
  display: inline-table;
  width: 30%;
  margin: 5px 1%;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 2px;

}

table.calendar tr{
  width: 100%;
}

td.day{
  text-align: center;
  height: 20px;
  border: 1px solid #E0E0E0;
  cursor : pointer; 
}

table.calendar th{
  max-width: 20px;
}

td.otherMonth{
  opacity: 0;
  border: none;
  cursor : default; 
}

td.selected{
  background-color: lime;
}

td.conflicts{
  color: red;
}