!!!
%html
  %head
    %title Scheduler
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  :javascript
    $(function(){
      $("#navbar_#{params[:controller]}").addClass("active");
    });
  %body
    .navbar
      .navbar-inner
        %a.brand{:href => "#"} IAY Schedule
        - if current_user
          %ul.nav
            - if current_user.is_staff?
              %li#navbar_home= link_to t('top_menu.daily_schedule'), "/"            
              - notification_count = Notification.where('status = ?', Notification::Status::Unconfirmed).size
              %li#navbar_notifications
                = link_to (notifications_path) do
                  = t('top_menu.notifications')                 
                  %span{:class => "#{notification_count > 0 ? 'badge badge-important' : 'badge'}"}= notification_count.to_s                  
              %li#navbar_weekly_schedule.dropdown{:style => "cursor: pointer;"}
                %a.dropdown-toggle{:data => {:toggle => "dropdown"}}
                  = t('top_menu.weekly_schedule')
                  %b.caret
                %ul.dropdown-menu
                  -Teacher.order("name ASC").all.each do |teacher|
                    %li= link_to teacher.name, weekly_url(teacher)
            - elsif current_user.teacher
              %li#navbar_teachers= link_to t('top_menu.weekly_schedule'), weekly_url(current_user.teacher)
            - if current_user.is_staff?
              %li#navbar_regular_classes.dropdown{:style => "cursor: pointer;"}
                %a.dropdown-toggle{:data => {:toggle => "dropdown"}}
                  = t("top_menu.regular_classes")
                  %b.caret
                %ul.dropdown-menu
                  -ScheduleType.all.each do |type|
                    %li= link_to type.name, regular_classes_path + "?schedule_type=" + type.id.to_s
              %li#navbar_teachers= link_to t("top_menu.teachers"), teachers_path
              %li#navbar_schedule_types= link_to t("top_menu.schedule_types"), schedule_types_path
            %li#navbar_logout= link_to(t("top_menu.logout"), destroy_user_session_path, :method => :delete)
    .container
      .content
        = yield